  *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        boby {
            font-family: 'segoe UI' , sans-serif;
            background-color: #f7f9fc;
            color: #333;
        }

        header {
            background-color: #0056b3;
            color: white;
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #003d80;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
            font-weight: 500;
        }

        nav a:hover{
            text-decoration: underline;
        }


        .cta-buttons {
            margin-top: 30px;
        }

        .cta-buttons a {
            background-color: #007bff;
            color: white;
            padding: 12px 20px;
            border-radius: 5px;
            text-decoration: none;
            margin: 0 10px;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }

        .cta-buttons a:hover {
            background-color: #0056b3;
        }

        .features {
            padding: 50px 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
            max-width: 1000px;
            margin: auto;
        }

        .features-box {
            background: white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0 , 0, 0.05);
            text-align: center;
        }

        .features-box h3 {
            color: #007bff;
            margin-bottom: 10px;
        }

        footer {
            background-color: #003d80;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 40px;

        }

    .slideshow-container {
        position: relative;
        width: 100%;
        height: 400px;
        overflow: hidden;
        }

        .slide {
        width: 100%;
        height: 400px;
        object-fit: cover;
        position: absolute;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        }

        .slide.active {
        opacity: 1;
        }

        .hero-text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        color: #fff;
        text-align: center;
        z-index: 2;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
        }

        .hero-text h1 {
        font-size: 2.8rem;
        margin-bottom: 10px;
        }

